*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.heading{
    background-color:greenyellow;
    padding: 30px;
    border:2px solid red;
    margin:20px;
    width: 250px;
    margin:0 auto;
}
#para{
background-color: blue;
color: white;
padding: 10px;
margin-top: 20px;
height: 40px;
border:solid yellow
}